<launch>
    
  <arg name="gui" default="true"/>

  <!-- Set GAZEBO_MODEL_PATH to include the models directory -->
  <env name="GAZEBO_MODEL_PATH" value="$(find robotics_project_pkg)/models:$(optenv GAZEBO_MODEL_PATH)"/>

  <!-- Load the world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find robotics_project_pkg)/worlds/test_world_1.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Robot 1 -->
  <group ns="robot1">
    <arg name="robot_namespace" value="robot1"/>
    <arg name="x" default="2.0"/>
    <arg name="y" default="2.0"/>
    <arg name="z" default="0.1"/>
    <arg name="yaw" default="0.0"/>

    <param name="robot_description" command="$(find xacro)/xacro '$(find limo_description)/urdf/limo_four_diff.xacro'
          robot_namespace:=/$(arg robot_namespace)" />

    <node name="spawn_limo_model" pkg="gazebo_ros" type="spawn_model" args="-x $(arg x)
              -y $(arg y)
              -z $(arg z)
              -Y $(arg yaw)
              -unpause
              -urdf
              -param robot_description
              -model 'limo_$(arg robot_namespace)'" />

    <rosparam file="$(find limo_gazebo_sim)/config/limo_four_diff_control.yaml" command="load"/>

    <node name="controller_spawner" pkg="controller_manager" type="spawner"
          respawn="false" output="screen"
          args="limo_state_controller"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
      <param name="tf_prefix" value="$(arg robot_namespace)"/>
    </node>

    <!-- SLAM for Robot 1 -->
    <node pkg="slam_toolbox" type="sync_slam_toolbox_node" name="slam_toolbox" output="screen">
      <remap from="scan" to="/$(arg robot_namespace)/limo/scan"/> 
      <remap from="map" to="/$(arg robot_namespace)/map"/>
      <remap from="map_metadata" to="/$(arg robot_namespace)/map_metadata"/>
      <param name="odom_frame" value="$(arg robot_namespace)/odom"/>
      <param name="map_frame" value="$(arg robot_namespace)/map"/>
      <param name="base_frame" value="$(arg robot_namespace)/base_link"/>
      <param name="scan_topic" value="scan"/>
      <param name="use_map_saver" value="false"/>
      <param name="use_sim_time" value="true"/>
      <param name="mode" value="mapping"/>
      <param name="map_start_pose" value="[0.0, 0.0, 0.0]"/>
      <param name="map_size_x" value="20.0"/>
      <param name="map_size_y" value="20.0"/>
      <param name="map_resolution" value="0.05"/>
      <param name="minimum_travel_distance" value="0.2"/>
      <param name="minimum_travel_heading" value="0.1"/>
      <param name="max_laser_range" value="8.0"/>
      <param name="transform_publish_period" value="0.05"/>
    </node>

    <param name="use_sim_time" value="true"/>
    
    <!-- Move Base for Robot 1 -->
    <node pkg="move_base" type="move_base" name="move_base" output="screen">
      <param name="controller_frequency" value="10.0"/>
      <param name="transform_tolerance" value="0.3"/>
      <param name="odom_used" value="false"/>
      <param name="global_costmap/global_frame" value="$(arg robot_namespace)/map"/>
      <param name="global_costmap/robot_base_frame" value="$(arg robot_namespace)/base_link"/>
      <param name="local_costmap/global_frame" value="$(arg robot_namespace)/odom"/>
      <param name="local_costmap/robot_base_frame" value="$(arg robot_namespace)/base_link"/>
      <remap from="/cmd_vel" to="/$(arg robot_namespace)/cmd_vel"/>
      <remap from="/odom" to="/$(arg robot_namespace)/odom"/>
      <remap from="/scan" to="/$(arg robot_namespace)/limo/scan"/>
      <param name="global_costmap/laser_scan_sensor/topic" value="/$(arg robot_namespace)/limo/scan"/>
      <param name="local_costmap/laser_scan_sensor/topic" value="/$(arg robot_namespace)/limo/scan"/>
      <rosparam file="$(find robotics_project_pkg)/config/move_base.yaml" command="load" />
      <rosparam file="$(find robotics_project_pkg)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find robotics_project_pkg)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    
      <rosparam file="$(find robotics_project_pkg)/config/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find robotics_project_pkg)/config/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find robotics_project_pkg)/config/planner_global.yaml" command="load" />
      <rosparam file="$(find robotics_project_pkg)/config/planner_local.yaml" command="load" />
    </node>

    <!-- Explorer for Robot 1 -->
    <node pkg="robotics_project_pkg" type="explore.py" name="explorer" output="screen">
      <param name="robot_namespace" value="$(arg robot_namespace)"/>
    </node>
  </group>

  <!-- Robot 2 -->
  <group ns="robot2">
    <arg name="robot_namespace" value="robot2"/>
    <arg name="x" default="7.0"/>
    <arg name="y" default="7.0"/>
    <arg name="z" default="0.1"/>
    <arg name="yaw" default="1.57"/>

    <param name="robot_description" command="$(find xacro)/xacro '$(find limo_description)/urdf/limo_four_diff.xacro'
          robot_namespace:=/$(arg robot_namespace)" />

    <node name="spawn_limo_model" pkg="gazebo_ros" type="spawn_model" args="-x $(arg x)
              -y $(arg y)
              -z $(arg z)
              -Y $(arg yaw)
              -unpause
              -urdf
              -param robot_description
              -model 'limo_$(arg robot_namespace)'" />

    <rosparam file="$(find limo_gazebo_sim)/config/limo_four_diff_control.yaml" command="load"/>

    <node name="controller_spawner" pkg="controller_manager" type="spawner"
          respawn="false" output="screen"
          args="limo_state_controller"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
      <param name="tf_prefix" value="$(arg robot_namespace)"/>
    </node>

    <!-- SLAM for Robot 2 -->
    <node pkg="slam_toolbox" type="sync_slam_toolbox_node" name="slam_toolbox" output="screen">
      <remap from="/scan" to="/$(arg robot_namespace)/limo/scan"/> 
      <remap from="/map" to="/$(arg robot_namespace)/map"/>
      <remap from="/map_metadata" to="/$(arg robot_namespace)/map_metadata"/>
      <remap from="/slam_toolbox/scan_visualization" to="/$(arg robot_namespace)/slam_toolbox/scan_visualization"/>
      <remap from="/slam_toolbox/graph_visualization" to="/$(arg robot_namespace)/slam_toolbox/graph_visualization"/>
      <param name="odom_frame" value="$(arg robot_namespace)/odom"/>
      <param name="map_frame" value="$(arg robot_namespace)/map"/>
      <param name="base_frame" value="$(arg robot_namespace)/base_link"/>
      <rosparam file="$(find robotics_project_pkg)/config/slam_toolbox_params.yaml" command="load" />
    </node>

    <param name="use_sim_time" value="true"/>
    
    <!-- Move Base for Robot 2 -->
    <node pkg="move_base" type="move_base" name="move_base" output="screen">
      <param name="controller_frequency" value="10.0"/>
      <param name="transform_tolerance" value="0.3"/>
      <param name="odom_used" value="false"/>
      <param name="global_costmap/global_frame" value="$(arg robot_namespace)/map"/>
      <param name="global_costmap/robot_base_frame" value="$(arg robot_namespace)/base_link"/>
      <param name="local_costmap/global_frame" value="$(arg robot_namespace)/odom"/>
      <param name="local_costmap/robot_base_frame" value="$(arg robot_namespace)/base_link"/>
      <remap from="/cmd_vel" to="/$(arg robot_namespace)/cmd_vel"/>
      <remap from="/odom" to="/$(arg robot_namespace)/odom"/>
      <remap from="/scan" to="/$(arg robot_namespace)/limo/scan"/>
      <param name="global_costmap/laser_scan_sensor/topic" value="/$(arg robot_namespace)/limo/scan"/>
      <param name="local_costmap/laser_scan_sensor/topic" value="/$(arg robot_namespace)/limo/scan"/>
      <rosparam file="$(find robotics_project_pkg)/config/move_base.yaml" command="load" />
      <rosparam file="$(find robotics_project_pkg)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find robotics_project_pkg)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    
      <rosparam file="$(find robotics_project_pkg)/config/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find robotics_project_pkg)/config/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find robotics_project_pkg)/config/planner_global.yaml" command="load" />
      <rosparam file="$(find robotics_project_pkg)/config/planner_local.yaml" command="load" />
    </node>

    <!-- Explorer for Robot 2 -->
    <node pkg="robotics_project_pkg" type="explore.py" name="explorer" output="screen">
      <param name="robot_namespace" value="$(arg robot_namespace)"/>
    </node>
  </group>

  <!-- Robot 3 -->
  <group ns="robot3">
    <arg name="robot_namespace" value="robot3"/>
    <arg name="x" default="11.0"/>
    <arg name="y" default="11.0"/>
    <arg name="z" default="0.1"/>
    <arg name="yaw" default="3.14"/>

    <param name="robot_description" command="$(find xacro)/xacro '$(find limo_description)/urdf/limo_four_diff.xacro'
          robot_namespace:=/$(arg robot_namespace)" />

    <node name="spawn_limo_model" pkg="gazebo_ros" type="spawn_model" args="-x $(arg x)
              -y $(arg y)
              -z $(arg z)
              -Y $(arg yaw)
              -unpause
              -urdf
              -param robot_description
              -model 'limo_$(arg robot_namespace)'" />

    <rosparam file="$(find limo_gazebo_sim)/config/limo_four_diff_control.yaml" command="load"/>

    <node name="controller_spawner" pkg="controller_manager" type="spawner"
          respawn="false" output="screen"
          args="limo_state_controller"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
      <param name="tf_prefix" value="$(arg robot_namespace)"/>
    </node>

    <!-- SLAM for Robot 3 -->
    <node pkg="slam_toolbox" type="sync_slam_toolbox_node" name="slam_toolbox" output="screen">
      <remap from="/scan" to="/$(arg robot_namespace)/limo/scan"/> 
      <remap from="/map" to="/$(arg robot_namespace)/map"/>
      <remap from="/map_metadata" to="/$(arg robot_namespace)/map_metadata"/>
      <remap from="/slam_toolbox/scan_visualization" to="/$(arg robot_namespace)/slam_toolbox/scan_visualization"/>
      <remap from="/slam_toolbox/graph_visualization" to="/$(arg robot_namespace)/slam_toolbox/graph_visualization"/>
      <param name="odom_frame" value="$(arg robot_namespace)/odom"/>
      <param name="map_frame" value="$(arg robot_namespace)/map"/>
      <param name="base_frame" value="$(arg robot_namespace)/base_link"/>
      <rosparam file="$(find robotics_project_pkg)/config/slam_toolbox_params.yaml" command="load" />
    </node>

    <param name="use_sim_time" value="true"/>
    
    <!-- Move Base for Robot 3 -->
    <node pkg="move_base" type="move_base" name="move_base" output="screen">
      <param name="controller_frequency" value="10.0"/>
      <param name="transform_tolerance" value="0.3"/>
      <param name="odom_used" value="false"/>
      <param name="global_costmap/global_frame" value="$(arg robot_namespace)/map"/>
      <param name="global_costmap/robot_base_frame" value="$(arg robot_namespace)/base_link"/>
      <param name="local_costmap/global_frame" value="$(arg robot_namespace)/odom"/>
      <param name="local_costmap/robot_base_frame" value="$(arg robot_namespace)/base_link"/>
      <remap from="/cmd_vel" to="/$(arg robot_namespace)/cmd_vel"/>
      <remap from="/odom" to="/$(arg robot_namespace)/odom"/>
      <remap from="/scan" to="/$(arg robot_namespace)/limo/scan"/>
      <param name="global_costmap/laser_scan_sensor/topic" value="/$(arg robot_namespace)/limo/scan"/>
      <param name="local_costmap/laser_scan_sensor/topic" value="/$(arg robot_namespace)/limo/scan"/>
      <rosparam file="$(find robotics_project_pkg)/config/move_base.yaml" command="load" />
      <rosparam file="$(find robotics_project_pkg)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find robotics_project_pkg)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    
      <rosparam file="$(find robotics_project_pkg)/config/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find robotics_project_pkg)/config/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find robotics_project_pkg)/config/planner_global.yaml" command="load" />
      <rosparam file="$(find robotics_project_pkg)/config/planner_local.yaml" command="load" />
    </node>

    <!-- Explorer for Robot 3 -->
    <node pkg="robotics_project_pkg" type="explore.py" name="explorer" output="screen">
      <param name="robot_namespace" value="$(arg robot_namespace)"/>
    </node>
  </group>

  <!-- RViz for visualization -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robotics_project_pkg)/rviz/multi_robot_config.rviz" />

</launch>

